body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white 
    line-height: 1.6;
}

/* Header */
header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #388e3c;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Image */
.image-section img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
   .gallery {
    display: flex;
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
} 
    
}

/* Sections */
section {
    padding: 20px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 10px;
}